{{ partial "header.html" . }}

<!-- {{if .IsHome}}<p class="main-line">Plugins made for iglü</p> -->
<!-- {{else if .Title}}<p class="main-line">{{.Title}} Plugins</p>{{end}} -->
{{ .Content }}

<!-- Featured Today Title -->
{{if .IsHome}}<div class="section-title">Featured Today</div>

<!-- Featured Today Card -->
<a href="{{.Site.Params.featured}}">
	{{range .Pages}}

	{{if eq $.Site.Params.featured .Params.id}}
	<div class="card card-featured">
		<img src="/{{.Params.Id}}.png" class="featured-img"/>
		<div class="featured-titles">
			<p class="featured-title">{{.Title}}</p>
			<p class="featured-author">{{.Params.Author}} | {{.Params.Price}}</p>
			<p class="featured-summary">{{.Params.Description}}</p>
		</div>
	</div>
</a>
{{end}}
{{end}}
{{end}}

<hr>

{{if .IsHome}}<p class="section-title">View by Categories</p>
{{ range $name, $taxonomy := .Site.Taxonomies.category }}
<span class="btn category"><a href="{{ "/category/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
		{{ $name }}</a></span>
{{end}}{{end}}
</div>

<div class="card-container">
	{{ range .Data.Pages }}
	{{if eq .Dir ""}}
	<a class="card-item" href="{{.URL}}">
		<div class="card">
			<img src="/{{.Params.Id}}.png" />
			<p class="card-title">{{.Title}}</p>
			<p class="card-small">{{.Params.Author}} | {{.Params.Price}}</p>
		</div>
	</a>
	{{end}}
	{{end}}
</div>

<!-- <h4 class="endmsg">More plugins coming soon!</h4> -->

<br>
<br>
<br>


{{ partial "footer.html" . }}
