{{ partial "header.html" . }}

{{if .IsHome}}<p class="main-line">Plugins made for iglü</p>
{{else if .Title}}<p class="main-line">{{.Title}} Plugins</p>{{end}}
{{ .Content }}

<!-- Search form -->
<form class="">
	<input class="" type="text" placeholder="Search for plugins">
</form>

<!-- Featured Today Title -->
<div class="section-title">Featured Today</div>

<!-- Featured Today Card -->
<div class="card card-featured">
	<p class="featured-title">Plugin Name</p>
</div>

{{if .IsHome}}<p>View by Categories</p>
{{ range $name, $taxonomy := .Site.Taxonomies.category }}
<span class="category-item"><a href="{{ "/category/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
		{{ $name }}</a></span>
{{end}}{{end}}
</div>

<div class="card-container">
	{{ range .Data.Pages }}
	<a class="card-item" href="{{.URL}}">
		<div class="card">
			<img src="/{{.File}}.png" />
			<p class="card-title">{{.Title}}</p>
			<p class="card-small">{{.Params.Author}} | {{.Params.Price}}</p>
		</div>
	</a>

	{{ end }}
</div>








<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<h4 class="endmsg">More plugins coming soon!</h4>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{{ partial "footer.html" . }}