{{ partial "header.html" . }}

{{if .IsHome}}<h3 class="main-line">Plugins for iglü</h3>
{{else if .Title}}<h3 class="main-line">{{.Title}} Plugins</h3>{{end}}
{{ .Content }}

{{if .IsHome}}<p>View by Categories</p>
{{ range $name, $taxonomy := .Site.Taxonomies.category }}
<span class="category-item"><a href="{{ "/category/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
{{ $name }}</a></span>
{{end}}{{end}}
</div>

<div class="card-container">
{{ range .Data.Pages }}
<a class="card-item" href="{{.URL}}">
<div class="card">
	<img src="https://via.placeholder.com/150" />
	<p class="card-title">{{.Title}}</p>
	<p class="card-small">By {{.Params.Author}} for {{.Params.Price}}</p>
</div>
</a>

{{ end }}
</div>
<h4 class="endmsg">More plugins coming soon!</h4>

{{ partial "footer.html" . }}
