/* Nacdlow Marketplace CSS */
body {
  font-family: "Lucidia Grande", "Segoe UI", "Roboto", sans-serif;
  font-size: 1.2em;
  margin: 0;
  background-color: #34383b!important;
  color: white;
}

.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

/* Navigation */
.nav {
  padding: 5px 15px;
  margin-bottom: 1.2em;
  background-color: #2BBBAD;
  height: 50px;
  color: #fff;
}

.nav a {
  text-decoration: none;
  padding-right: 15px;
  line-height: 3rem;
  color: #fff !important;
}


.nav-left {
  float: left;
 
}

.nav-right {
  float: right;
  text-align: right;
}



.logo {
  float: left;
  padding-right:10px;
  height: 50px;
}

.main-line {
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;
}

/* Cards */
.card-container {
  display:grid inline-grid;
}

.card-item {
  padding:10px;
  display: inline-grid;
  width: 182px;
  height: 200px;
}

a {
  text-decoration: none;
}

.card {
  border-radius: 5%;
  background-color: #fff;
  color: #000;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.card:hover {
  background-color:palegreen!important;
  transition: 0.7s;
  color: #000;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-small {
  font-weight: lighter;
}

.card img {
  display: block;
  margin: auto;
  max-width: 85%;
  max-height: 72px;
}

.category-item a {
  background-color: #c1c1c1;
  padding: 2px 5px;
  border-radius: 3px;
  color: #000;
}

.category-item a:hover {
  text-decoration: underline;
}

/*coming soon!*/

endmsg{
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;

}
